# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
a = [4,8,15,16,23,42]

In [11]:
series = pd.Series(a)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [13]:
a = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(a)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.

In [14]:
df =pd.read_excel("Book1.xlsx")

In [15]:
print(df)

    Name   Age   Gender
0   Alice    25  Female
1     Bob    30    Male
2  Claire    27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

1)A DataFrame has multiple columns, while a Series has only one column.

2)A DataFrame can hold data of different types in each column, while a Series can hold data of only one type. 

3)A DataFrame has both a row index and a column index, while a Series has only a row index.

In [16]:
# Creating a Series object
fruits = pd.Series(['apple', 'banana', 'cherry', 'durian'])

# Creating a DataFrame object
data = {'name': ['Alice', 'Bob', 'Claire', 'David'],
        'age': [25, 30, 27, 35],
        'fruit': ['apple', 'banana', 'cherry', 'durian']}
df = pd.DataFrame(data)

print("Series:")
print(fruits)
print("\nDataFrame:")
print(df)

Series:
0     apple
1    banana
2    cherry
3    durian
dtype: object

DataFrame:
     name  age   fruit
0   Alice   25   apple
1     Bob   30  banana
2  Claire   27  cherry
3   David   35  durian

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

1)head() and tail(): These functions allow you to view the top or bottom rows of a DataFrame.

2)describe(): This function provides a summary of the numerical data in the DataFrame, including count, mean, standard deviation, minimum, and maximum values

3)drop(): This function allows you to remove rows or columns from a DataFrame.

4)fillna(): This function allows you to fill missing values in a DataFrame with a specific value or a value computed from other values in the DataFrame. It is useful when you want to replace missing data with a meaningful value.

4)groupby(): This function allows you to group data in a DataFrame by one or more columns and apply a function to each group.

5)pivot_table(): This function allows you to create a summary table from a DataFrame by aggregating the data across multiple dimensions.

In [19]:
import pandas as pd

# create a DataFrame with sales data
data = {'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
        'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
        'Sales': [100, 200, 150, 300, 120, 250, 180, 280]}
df = pd.DataFrame(data)
# group data by region and calculate total sales
region_sales = df.groupby('Region')['Sales'].sum()
print(region_sales)

Region
East     370
North    300
South    450
West     460
Name: Sales, dtype: int64

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, which means that their values can be changed after they are created. However, Panel is deprecated in the latest version of Pandas and is no longer recommended for use.

When you modify a Series or DataFrame, the original object is updated, and any references to the object will reflect the changes. This is different from immutable objects like strings, tuples, or frozen sets, where you cannot modify the object once it is created.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
# create three Series
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
gender = pd.Series(['F', 'M', 'M'])

# create a DataFrame using the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

# display the DataFrame
print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M